:root {
	--first-card-background: hsl(263, 55%, 52%);
	--second-card-background: hsl(217, 19%, 35%);
	--fifth-card-background: hsl(219, 29%, 14%);
	--card-white-background: hsl(0, 0%, 100%);
	--clr-text: hsl(210, 46%, 95%);
	--clr-gray-text: hsl(217, 19%, 35%);

	--fs-normal: 13px;
	--fs-greater: 1.7em;
	--fw-medium: 500;
	--fw-bolder: 600;
}

*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
main {
	height: 100%;
}

body {
	font-family: "Barlow Semi Condensed", sans-serif;
	font-size: var(--fs-normal);
	background-color: var(--clr-text);
	font-weight: var(--fw-medium);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards {
	max-width: 1200px;
	max-height: 576px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
		"first first second third"
		"fourth fifth fifth third ";
	align-content: center;
	gap: 30px;
}
.card {
	border-radius: 10px;
	box-shadow: 14px 12px 25px -8px rgba(163, 135, 135, 0.56);
	-webkit-box-shadow: 14px 12px 25px -8px rgba(163, 135, 135, 0.56);
	-moz-box-shadow: 14px 12px 25px -8px rgba(163, 135, 135, 0.56);
	padding: 30px;
}

.card_first {
	background-color: var(--first-card-background);
	background-image: url("../images/bg-pattern-quotation.svg");
	background-repeat: no-repeat;
	background-position: right 80px top;
	grid-area: first;
	color: var(--clr-text);
}

.card_second {
	background-color: var(--second-card-background);
	grid-area: second;
	color: var(--clr-text);
}

.card_third {
	background-color: var(--card-white-background);
	grid-area: third;
	color: var(--clr-gray-text);
}

.card_fourth {
	background-color: var(--card-white-background);
	grid-area: fourth;
	color: var(--clr-gray-text);
	padding: 40px;
}

.card_fifth {
	background-color: var(--fifth-card-background);
	grid-area: fifth;
	color: var(--clr-text);
}

.card__header {
	display: grid;
	grid-template-columns: 50px 1fr;
	margin-bottom: 15px;
}

.card__profile {
	border-radius: 50%;
	width: 35px;
}

.card__person {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.card__name {
	margin-bottom: 3px;
}

.card__credentials {
	opacity: 50%;
	font-size: 0.9em;
}

.card_first .card__profile {
	border: 2px solid hsl(263, 100%, 74%);
}

.card_fifth .card__profile {
	border: 3px solid var(--first-card-background);
}

.card__comment {
	font-size: var(--fs-greater);
	font-weight: var(--fw-bolder);
	margin-bottom: 15px;
}

.card__sub-comment {
	opacity: 70%;
	line-height: 20px;
	font-size: 1.1em;
}

@media screen and (max-width: 900px) {
	main {
		padding: 80px 20px;
		height: fit-content;
	}

	.cards {
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}

	.card_third {
		order: 1;
	}
}
